<% action = (cat.persisted? ? cat_url(cat) : cats_url) %>
<% method = (cat.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
    <input type="hidden" name="_method" value="<%= method %>">

    <label>Name</label>
    <input 
        type="text"
        name="cat[name]"
        id="cat_name"
        value= "<%= cat.name%>"
    >
    <label>Birth Date </label>
    <input
        type="text"
        name="cat[birth_date]"
        id="cat_birth_date"
        value= "<%= cat.birth_date %>"
    >
    <input
        type="radio"
        name="cat[sex]"
        id="cat_sex_male"
        value="M"
        <%= cat.sex == "M" ? "checked" : "" %>
    >
    <label>M</label>
    <input
        type="radio"
        name="cat[sex]"
        id="cat_sex_female"
        value="F"
        <%= cat.sex == "F" ? "checked" : "" %>
    >
    <label>F</label>
</form>